@page "/fetchmsglz4data"
@using BlazorMsgPack.Shared
@inject HttpClient Http

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server. MessagePack with Lz4Block</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p>Data loaded in @_timeTaken</p>
    <p>Bytes read @_bytesRead.ToString("N0")</p>
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private WeatherForecast[]? forecasts;
    private TimeSpan _timeTaken;
    private long _bytesRead;

    protected override async Task OnInitializedAsync()
    {
        var start = DateTime.Now;
        Console.WriteLine("Start:" + DateTime.Now);
        forecasts = await Http.GetFromMessagePackLz4Async<WeatherForecast[]>("WeatherForecast");
        _bytesRead = MsgPack.BytesRead;
        Console.WriteLine("End:" + DateTime.Now);
        _timeTaken = DateTime.Now - start;
        Console.WriteLine(_timeTaken);
    }

}
